<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Toxic Home | Contact Form</title>
</head>

<body>
    <div class="contact_container">
        <form action="https://api.web3forms.com/submit" method="POST" class="contact_left">
            <div class="contact_left_title">
                <h2>Toxic Home</h2>
                <hr>
            </div>
            <input type="hidden" name="access_key" value="7e3eec80-10a7-4892-9278-713f9b29d136">
            <input type="text" name="name" placeholder="Your Name" class="contact_inputs" required>
            <input type="email" name="email" placeholder="Your E-mail" class="contact_inputs" required>
            <textarea name="message" placeholder="Your Comment" class="contact_inputs" required></textarea>
            <button type="submit" >Submit <img src="https://onedrive.live.com/embed?resid=4467A1E49CBE7C7A%211231&authkey=%21AGTFgivEA73aMj0&width=404&height=385"></button>
        </form>
        <div class="contact_right">
            <img src="./images/right_img.svg" alt="Your Image Description">
        </div>
    </div>
</body>

</html>